<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.jdt.core.annotationProcessorManager">
      <annotationProcessorManager
            class="org.eclipse.jdt.internal.compiler.apt.ide.dispatch.IdeAnnotationProcessorManager"
            id="org.eclipse.jdt.compiler.apt.annotationProcessorManager">
      </annotationProcessorManager>
   </extension>

</plugin>
