<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.eclipse.jdt.core.tests.model"
   name="%pluginName"
   provider-name = "%providerName"
   version="3.2.0">

   <runtime>
      <library name="jdtcoretestsmodel.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.core.runtime"/>    
      <import plugin="org.eclipse.jdt.core"/>
      <import plugin="org.junit"/>
      <import plugin="org.eclipse.test.performance"/>
      <import plugin="org.eclipse.jdt.core.tests.compiler"/>
      <import plugin="org.eclipse.jdt.core.tests.builder"/>
      <import plugin="org.eclipse.team.core"/>
      <import plugin="org.eclipse.text"/>    
   </requires>

	<!-- Classpath variable initializer -->
	<extension point = "org.eclipse.jdt.core.classpathVariableInitializer">
		<classpathVariableInitializer
			variable="TEST_LIB"
			class="org.eclipse.jdt.core.tests.model.VariablesInitializer"/>
		<classpathVariableInitializer
			variable="TEST_SRC"
			class="org.eclipse.jdt.core.tests.model.VariablesInitializer"/>
		<classpathVariableInitializer
			variable="TEST_ROOT"
			class="org.eclipse.jdt.core.tests.model.VariablesInitializer"/>
	</extension>		

	<!-- Classpath container initializer -->
	<extension point = "org.eclipse.jdt.core.classpathContainerInitializer">
		<classpathContainerInitializer
			id="org.eclipse.jdt.core.tests.model.TEST_CONTAINER"
			class="org.eclipse.jdt.core.tests.model.ContainerInitializer"/>
	</extension>

	<!-- Extra Java-like file extensions -->
	<extension point="org.eclipse.core.runtime.contentTypes">
	    <file-association 
	        content-type="org.eclipse.jdt.core.javaSource"
	        file-extensions="foo,bar"/>
	</extension>

	<!-- Repository provider -->
	<extension point="org.eclipse.team.core.repository">
		<repository
			id="org.eclipse.jdt.core.tests.model.pessimisticnature"
			class="org.eclipse.jdt.core.tests.model.TestPessimisticProvider">
		</repository>;
	</extension>
	
	<!-- Compilation participant -->
	 <extension point="org.eclipse.jdt.core.compilationParticipant">
	   <compilationParticipant
          class="org.eclipse.jdt.core.tests.model.TestCompilationParticipant"
          createsProblems="true"
          id="org.eclipse.jdt.core.tests.model.compilationparticipant"
          requiredSourceLevel="1.4"
          modifiesEnvironment="true">
       <requires id="non.existing"/>
    </compilationParticipant>
	 </extension>
	
</plugin>
