<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.eclipse.jdt.core.tests.performance"
   name="%pluginName"
   provider-name = "%providerName"
   version="3.2.1">

   <runtime>
      <library name="jdtcoretestsperf.jar">
         <export name="*"/>
      </library>
   </runtime>
   
   <requires>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.core.runtime"/>    
      <import plugin="org.eclipse.jdt.core"/>
      <import plugin="org.eclipse.jdt.core.tests.builder"/>
      <import plugin="org.eclipse.jdt.core.tests.compiler"/>
      <import plugin="org.eclipse.jdt.core.tests.model"/>
      <import plugin="org.junit"/>
      <import plugin="org.eclipse.test.performance"/>
   </requires>

</plugin>
