<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="org.eclipse.jdt.core.tests.builder"
   name="Java Builder Tests"
   version="2.0.1">

   <runtime>
      <library name="jdtcoretestsbuilder.jar"/>
   </runtime>
   <requires>
      <import plugin="org.junit"/>
      <import plugin="org.eclipse.jdt.core"/>
      <import plugin="org.eclipse.jdt.core.tests.compiler"/>
      <import plugin="org.eclipse.core.resources"/>
   </requires>


</plugin>
