<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.eclipse.jdt.core.tests.compiler"
   name="Java Compiler Tests"
   version="3.0.1.1">

   <runtime>
      <library name="jdtcoretestscompiler.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.apache.ant"/>
      <import plugin="org.junit"/>
      <import plugin="org.eclipse.jdt.debug"/>
      <import plugin="org.eclipse.jdt.core"/>
     <import plugin="org.eclipse.core.runtime.compatibility"/>
     <import plugin="org.eclipse.core.resources"/>    
   </requires>


</plugin>
