<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="org.eclipse.jdt.core.tests.compiler"
   name="Java Compiler Tests"
   version="2.1.0">

   <runtime>
      <library name="jdtcoretestscompiler.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.junit"/>
      <import plugin="org.eclipse.jdt.debug"/>
      <import plugin="org.eclipse.jdt.core"/>
   </requires>


</plugin>
