<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.jdt.apt.core.annotationProcessorFactory">
      <java6processors
            enableDefault="true">
         <java6processor
               class="org.eclipse.jdt.apt.pluggable.tests.processors.genclass6.GenClass6Proc">
         </java6processor>
         <java6processor
               class="org.eclipse.jdt.apt.pluggable.tests.processors.message6.Message6Proc">
         </java6processor>
         <java6processor
               class="org.eclipse.jdt.apt.pluggable.tests.processors.filertester.FilerTesterProc">
         </java6processor>
         <java6processor
               class="org.eclipse.jdt.apt.pluggable.tests.processors.modeltester.ModelTesterProc">
         </java6processor>
      </java6processors>
   </extension>
</plugin>
