<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
    Copyright (c) 2005, 2010 IBM Corporation and others.

    This program and the accompanying materials
    are made available under the terms of the Eclipse Public License 2.0
    which accompanies this distribution, and is available at
    https://www.eclipse.org/legal/epl-2.0/

    SPDX-License-Identifier: EPL-2.0
   
    Contributors:
        IBM Corporation - initial API and implementation
 -->

<plugin>

<!-- =================================================================================== -->
<!-- Extension: Preferences                                                              -->
<!-- =================================================================================== -->
   <!-- Disabled: see Bugzilla 136498
   		extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.jdt.ui.preferences.CompliancePreferencePage"
            class="org.eclipse.jdt.apt.ui.internal.preferences.AptPreferencePage"
            id="org.eclipse.jdt.apt.ui.preferences.aptPreferences"
            name="%annotationProcessingName"/>
      <page
            category="org.eclipse.jdt.apt.ui.preferences.aptPreferences"
            class="org.eclipse.jdt.apt.ui.internal.preferences.FactoryPathPreferencePage"
            id="org.eclipse.jdt.apt.ui.preferences.factoryPathPreferences"
            name="%factoryPathName"/>
   </extension -->
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            category="org.eclipse.jdt.ui.propertyPages.CompliancePreferencePage"
            class="org.eclipse.jdt.apt.ui.internal.preferences.AptPreferencePage"
            id="org.eclipse.jdt.apt.ui.propertyPages.aptPreferences"
            name="%annotationProcessingName">
         <enabledWhen>
		     <adapt type="org.eclipse.core.resources.IProject">
		          <test property="org.eclipse.core.resources.projectNature" value="org.eclipse.jdt.core.javanature"/>
		     </adapt>         
         </enabledWhen>
         <keywordReference
               id="org.eclipse.jdt.apt.ui.propertyPages.aptPreferences.keyword"></keywordReference>
      </page>            
      <page
            category="org.eclipse.jdt.apt.ui.propertyPages.aptPreferences"
            class="org.eclipse.jdt.apt.ui.internal.preferences.FactoryPathPreferencePage"
            id="org.eclipse.jdt.apt.ui.propertyPages.factoryPathPreferences"
            name="%factoryPathName">
         <enabledWhen>
		     <adapt type="org.eclipse.core.resources.IProject">
		          <test property="org.eclipse.core.resources.projectNature" value="org.eclipse.jdt.core.javanature"/>
		     </adapt>         
         </enabledWhen>
      </page>
   </extension>
   <extension 
   		point="org.eclipse.ui.ide.markerSupport">
      <markerTypeCategory name="%markerCategory.problem">
         <markerTypeReference id="org.eclipse.jdt.apt.core.buildproblem"/>
         <markerTypeReference id="org.eclipse.jdt.apt.core.compile.problem"/>
         <markerTypeReference id="org.eclipse.jdt.apt.core.configproblem"/>
         <markerTypeReference id="org.eclipse.jdt.apt.core.nonreconcile.compile.problem"/>
         <markerTypeReference id="org.eclipse.jdt.apt.pluggable.core.compileProblem"/>
      </markerTypeCategory>
   </extension>
   <extension
         point="org.eclipse.ui.keywords">
      <keyword
            id="org.eclipse.jdt.apt.ui.propertyPages.aptPreferences.keyword"
            label="%preferenceKeywords.annotation.processing">
      </keyword>
   </extension>

   
</plugin>
