<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
    Copyright (c) 2005, 2014 IBM Corporation and others.

    This program and the accompanying materials
    are made available under the terms of the Eclipse Public License 2.0
    which accompanies this distribution, and is available at
    https://www.eclipse.org/legal/epl-2.0/

    SPDX-License-Identifier: EPL-2.0
   
    Contributors:
        IBM Corporation - initial API and implementation
 -->

<plugin>

    
<!-- =================================================================================== -->
<!-- Extension Point: Annotation Processor Factories                                     -->
<!-- =================================================================================== -->

<extension-point 
	id="annotationProcessorFactory" 
	name="%annotationProcessorFactoriesName" 
	schema="schema/annotationProcessorFactory.exsd"/>

<!-- =================================================================================== -->
<!-- Extension Point: .factorypath File Type                                             -->
<!-- =================================================================================== -->

<extension point="org.eclipse.team.core.fileTypes">
    <fileTypes extension="factorypath" type="text"/>
</extension>

<!-- =================================================================================== -->
<!-- Extension: Compilation Participant                                                  -->
<!-- =================================================================================== -->
<extension
      id="apt"
      name="%annotationProcessingName"
      point="org.eclipse.jdt.core.compilationParticipant">
   <compilationParticipant
         class="org.eclipse.jdt.apt.core.internal.AptCompilationParticipantExtensionFactory"
         id="APT"
         requiredSourceLevel="1.5">
      <managedMarker markerType="org.eclipse.jdt.apt.core.compile.problem"/>
      <managedMarker markerType="org.eclipse.jdt.apt.core.nonreconcile.compile.problem"/>
   </compilationParticipant>
</extension>

<!-- =================================================================================== -->
<!-- Extension: APT Problem                                                             -->
<!-- =================================================================================== -->
<extension id="compile.problem" point="org.eclipse.core.resources.markers" name="%aptBatchMarkerName">
	<super type="org.eclipse.jdt.core.problem"/>
	<persistent value="true"/>
</extension>  

<extension id="nonreconcile.compile.problem" point="org.eclipse.core.resources.markers" name="%aptNonreconcileBatchMarkerName">
	<super type="org.eclipse.core.resources.problemmarker"/>
	<super type="org.eclipse.core.resources.textmarker"/>
	<persistent value="true"/>
</extension>  

<extension id="buildproblem" point="org.eclipse.core.resources.markers" name="%aptBuildMarkerName">
	<super type="org.eclipse.core.resources.problemmarker"/>
	<super type="org.eclipse.core.resources.textmarker"/>
	<persistent value="true"/>
</extension>  

<extension id="configproblem" point="org.eclipse.core.resources.markers" name="%aptConfigurationMarkerName">
	<super type="org.eclipse.core.resources.problemmarker"/>
	<super type="org.eclipse.core.resources.textmarker"/>
	<persistent value="true"/>
</extension>

<!-- =================================================================================== -->
<!-- Extension: Headless Build                                                           -->
<!-- =================================================================================== -->
<extension
      id="aptBuild"
      point="org.eclipse.core.runtime.applications">
   <application>
      <run class="org.eclipse.jdt.apt.core.build.AptBuilder"/>
   </application>
</extension>

<extension
      point="org.eclipse.core.runtime.preferences">
   <initializer class="org.eclipse.jdt.apt.core.internal.util.AptCorePreferenceInitializer"/>
</extension>

<extension
      point="org.eclipse.ui.trace.traceComponents">
   <component
         id="org.eclipse.jdt.apt.core.trace"
         label="%traceComponentLabel">
      <bundle
            consumed="false"
            name="org.eclipse.jdt.apt.core">
      </bundle>
   </component>
</extension>
</plugin>
