<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.eclipse.jdt.apt.core"
   name="Annotation Processing Support Plug-in"
   version="1.0.0"
   provider-name="">

   <runtime>
      <library name="aptcore.jar">
         <export name="*"/>
      </library>
      <library name="tools.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.jdt.core"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.core.resources"/>     
      <import plugin="org.apache.ant"/>
   </requires>

<!-- =================================================================================== -->
<!-- Extension Point: Annotation Processor Factories                                     -->
<!-- =================================================================================== -->

<extension-point 
	id="annotationProcessorFactory" 
	name="Annotation Processor Factories" 
	schema="schema/annotationProcessorFactory.exsd"/>

<!-- =================================================================================== -->
<!-- Extension: Compilation Participant                                                  -->
<!-- =================================================================================== -->
<extension
      id="apt"
      name="Annotation Processing"
      point="org.eclipse.jdt.core.compilationParticipant">
   <compilationParticipant
         class="org.eclipse.jdt.apt.core.internal.AptCompilationParticipant"
         eventMask="0xff"/>
</extension>

<!-- =================================================================================== -->
<!-- Extension: Headless Build                                                           -->
<!-- =================================================================================== -->
<extension
      id="aptBuild"
      point="org.eclipse.core.runtime.applications">
   <application>
      <run class="org.eclipse.jdt.apt.core.build.AptBuilder"/>
   </application>
</extension>

<!-- =================================================================================== -->
<!-- Extension: Docs                                                           -->
<!-- =================================================================================== -->
<extension
      point="org.eclipse.help.toc">
   <toc file="toc.xml" primary="true"/>
</extension>
</plugin>
