<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

    
<!-- =================================================================================== -->
<!-- Extension Point: Annotation Processor Factories                                     -->
<!-- =================================================================================== -->

<extension-point 
	id="annotationProcessorFactory" 
	name="Annotation Processor Factories" 
	schema="schema/annotationProcessorFactory.exsd"/>

<!-- =================================================================================== -->
<!-- Extension: Compilation Participant                                                  -->
<!-- =================================================================================== -->
<extension
      id="apt"
      name="Annotation Processing"
      point="org.eclipse.jdt.core.compilationParticipant">
   <compilationParticipant
         class="org.eclipse.jdt.apt.core.internal.AptCompilationParticipant"
         eventMask="0xff"/>
</extension>

<!-- =================================================================================== -->
<!-- Extension: Headless Build                                                           -->
<!-- =================================================================================== -->
<extension
      id="aptBuild"
      point="org.eclipse.core.runtime.applications">
   <application>
      <run class="org.eclipse.jdt.apt.core.build.AptBuilder"/>
   </application>
</extension>

<!-- =================================================================================== -->
<!-- Extension: Docs                                                           -->
<!-- =================================================================================== -->
<extension
      point="org.eclipse.help.toc">
   <toc file="toc.xml" primary="true"/>
</extension>
<extension
      point="org.eclipse.core.runtime.preferences">
   <initializer class="org.eclipse.jdt.apt.core.internal.util.AptCorePreferenceInitializer"/>
</extension>
</plugin>
